@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&family=Roboto&display=swap');

* {
  font-family: 'IBM Plex Sans' !important;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    /* background: rgba(193,96,99, 0.8), url('https://source.unsplash.com/random/1280x720') no-repeat;
    background: linear-gradient(45deg, rgba(193,96,99,0.8) 0%, rgba(235,166,145,0.8) 20%, rgba(164,146,130,0.8) 34%, rgba(58,95,111,0.8) 69%, rgba(45,82,97,0.8) 100%), url('https://source.unsplash.com/random/1280x720') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

#root {
  height: 100vh;
}

/* .fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
} */
